<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Reco-Chan</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../static/css/Faq-by-pomdre.css">
    <link rel="stylesheet" href="../static/css/Team-Presentation---2-Persons---Social-Media-Icon.css">                                                   
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top">Reco-Chan</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Get Recommendations</a></li>
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#team">Our team</a></li>
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#faq">FAQ</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead bg-primary text-white text-center"><img src="media/pygirl.png" width="140">
        <div class="container">
            <h1>Okaeri!<br></h1>
            <hr class="star-light">
            <h2 class="font-weight-light mb-0">Reco-Chan will provide you with unlimited anime suggestions</h2>
        </div>
        <section id="portfolio" class="portfolio"></section>
        <section id="team" class="teamprofilenames"></section>
        <h1>Our Team</h1>
    </header>
    
    <section id="team" style="padding: 2px;margin: 11px;">  
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6" style="text-align: center;"><img class="teamprofilepictures" src="../media/suraj.PNG">
                    <h1 class="teamprofilenames">Suraj Das</h1>
                    <h1 class="teamprofileprofessions">Front End and Python</h1>
                    <p class="teamprofiledescription">Worked on the front end for this project and used Flask to power the front end. Hasn't really learned html and css but was able to make a working webapp using jugad. He promises to&nbsp;improve his skills after this project so be on the
                        lookout. Plans to learn machine learning next. Wish the boy some luck :-|&nbsp;</p><i class="fab fa-github teamprofileicons"></i><a href="https://github.com/Suraj1749">Suraj</a></div>
                <div class="col-md-6" style="text-align: center;"><img class="teamprofilepictures" src="media/nithesh.PNG" width="140">
                    <h1 class="teamprofilenames">Nithesh Kumar</h1>
                    <h1 class="teamprofileprofessions">Master of Python and OOP</h1>
                    <p class="teamprofiledescription">Worked on most of the backend&nbsp; logic. He has recently discovered the power of OOP and is churning out apps at a break-neck pace. His goal is to improve his skills and use them to make the ultimate pishing app...or so he says. A master
                        of logic and deduction, there's no telling to what he might do ; )</p><i class="fab fa-github teamprofileicons"></i><a href="https://github.com/Nithesh24">Nithesh</a></div>
            </div>
        </div>
    </section>
    <!-- Start: Faq by pomdre -->
    <section id="faq" style="padding: 2px;margin: 11px;">
        <hr class="star-dark mb-5">
        <h2 class="text-uppercase text-center" style="font-size: 48;">FAQ</h2>
        <!-- Start: br --><br >
        <!-- End: br -->
        <div class="container">
            <div class="faqelement"><button class="btn btn-primary faq on" type="button" style="box-shadow: none;">Did really write the code for this?</button>
                <div class="panel">
                    <p>Yeah we did...mostly as we don't have that much front end desigining skills we had steal a little from here and there but don't worry it's all perfectly legal.</p>
                </div>
            </div>
            <!-- Start: br --><br >
            <!-- End: br -->
            <div class="faqelement"><button class="btn btn-primary faq on" type="button" style="box-shadow: none;">Why did you start this project?</button>
                <div class="panel">
                    <p>Well if you can't guess already, we're huge weebs and also happen to love coding this just happens to be the intersection.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="faqelement"><button class="btn btn-primary faq on" type="button" style="box-shadow: none;">Can I make something like this?&nbsp;</button>
                <div class="panel">
                    <p>Ofcourse you can and it will most probably end up far better than what we have done here. So if you want to kick-start your development journey don't hesitate to ask Nithesh or me for help.</p>
                </div>
            </div>
            <!-- Start: br --><br >
            <!-- End: br -->
            <div class="faqelement"><button class="btn btn-primary faq on" type="button" style="box-shadow: none;">Any last words?</button>
                <div class="panel">
                    <p>As you can see this was our first large scale python project. And just in the past few days our skills have developed atleast that's what I would like to believe so be in the lookout for more interesting and fun projects in the future.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <hr class="star-dark mb-5">
        </div>
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Location</h4>
                        <p>2215 John Daniel Drive<br>Clark, MO 65243</p>
                    </div>
                    <div class="col-md-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase">Around the Web</h4>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" href="#"><i class="fa fa-facebook fa-fw"></i></a></li>
                            <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" href="#"><i class="fa fa-google-plus fa-fw"></i></a></li>
                            <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" href="#"><i class="fa fa-twitter fa-fw"></i></a></li>
                            <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" href="#"><i class="fa fa-dribbble fa-fw"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4 class="text-uppercase mb-4">About Freelancer</h4>
                        <p class="lead mb-0"><span>Freelance is a free to use, open source Bootstrap theme.&nbsp;</span></p>
                    </div>
                </div>
            </div>
        </footer>
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright ©&nbsp;Reco-Chan 2020</small></div>
        </div>
    </section>
    <!-- End: Faq by pomdre -->
    <!-- Start: Team Presentation - 2 Persons - Social Media Icon -->
    <div></div>
    <!-- End: Team Presentation - 2 Persons - Social Media Icon -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="../static/js/freelancer.js"></script>
    <script src="../static/js/Faq-by-pomdre.js"></script>
</body>

</html>