{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block body %}
<section class="hero is-white">
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="https://github.com/anfederico/Flaskex/raw/master/media/flaskex-logo.png" alt="Flaskex_logo">
        <h6 href="/" class="subtitle"><strong>Reco-Chan</strong></h6>
      </a>
      <div id="navbar-burger-id" class="navbar-burger burger" data-target="navbar-menu-id">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a href="https://github.com/Akatsuki3/Reco-chan" class="button is-primary is-outlined">
                <span>Github Repositry For this App</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</section>
<section class="hero is-primary is-bold is-medium" id="home">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column is-auto">
          <img src="https://raw.githubusercontent.com/Akatsuki3/Reco-chan/master/media/pygirl.png" width="140">
          <br>
          <p class="title is-2">Omedetou!</p>
          <p class="subtitle is-4"><i>&nbsp;Hey {{user}} here are your recommendations ~</i></p>
          <p class="subtitle is-5">&#x2022 {{r0}}</p>
          <p class="subtitle is-5">&#x2022 {{r1}}</p>
          <p class="subtitle is-5">&#x2022 {{r2}}</p>
          <p class="subtitle is-5">&#x2022 {{r3}}</p>
          <p class="subtitle is-5">&#x2022 {{r4}}</p>
          <p class="subtitle is-5">&#x2022 {{r5}}</p>
          <p class="subtitle is-5">&#x2022 {{r6}}</p>
          <p class="subtitle is-5">&#x2022 {{r7}}</p>
          <p class="subtitle is-5">&#x2022 {{r8}}</p>
          <p class="subtitle is-5">&#x2022 {{r9}}</p>
          <p class="subtitle is-5">&#x2022 {{r10}}</p>
          <p class="subtitle is-5">&#x2022 {{r11}}</p>
          <p class="subtitle is-5">&#x2022 {{r12}}</p>
          <p class="subtitle is-5">&#x2022 {{r13}}</p>
          <p class="subtitle is-5">&#x2022 {{r14}}</p>
          <p class="subtitle is-5">&#x2022 {{r15}}</p>
          <p class="subtitle is-5">&#x2022 {{r16}}</p>
          <p class="subtitle is-5">&#x2022 {{r17}}</p>
          <p class="subtitle is-5">&#x2022 {{r18}}</p>
          <p class="subtitle is-5">&#x2022 {{r19}}</p>
          <p class="subtitle is-5">&#x2022 {{r20}}</p>
          <p class="subtitle is-5">&#x2022 {{r21}}</p>
          <p class="subtitle is-5">&#x2022 {{r22}}</p>
          <p class="subtitle is-5">&#x2022 {{r23}}</p>
          <p class="subtitle is-5">&#x2022 {{r24}}</p>
          <p class="subtitle is-5">&#x2022 {{r25}}</p>
          <p class="subtitle is-5">&#x2022 {{r26}}</p>
          <p class="subtitle is-5">&#x2022 {{r27}}</p>
          <p class="subtitle is-5">&#x2022 {{r28}}</p>
          <p class="subtitle is-5">&#x2022 {{r29}}</p>
          <p class="subtitle is-5">&#x2022 {{r30}}</p>
          <p class="subtitle is-5">&#x2022 {{r31}}</p>
          <p class="subtitle is-5">&#x2022 {{r32}}</p>
          <p class="subtitle is-5">&#x2022 {{r33}}</p>
          <p class="subtitle is-5">&#x2022 {{r34}}</p>
          <p class="subtitle is-5">&#x2022 {{r35}}</p>
          <p class="subtitle is-5">&#x2022 {{r36}}</p>
          <p class="subtitle is-5">&#x2022 {{r37}}</p>
          <p class="subtitle is-5">&#x2022 {{r38}}</p>
          <p class="subtitle is-5">&#x2022 {{r39}}</p>
          <p class="subtitle is-5">&#x2022 {{r40}}</p>
          <p class="subtitle is-5">&#x2022 {{r41}}</p>
          <p class="subtitle is-5">&#x2022 {{r42}}</p>
          <p class="subtitle is-5">&#x2022 {{r43}}</p>
          <p class="subtitle is-5">&#x2022 {{r44}}</p>
          <p class="subtitle is-5">&#x2022 {{r45}}</p>
          <p class="subtitle is-5">&#x2022 {{r46}}</p>
          <p class="subtitle is-5">&#x2022 {{r47}}</p>
          <p class="subtitle is-5">&#x2022 {{r48}}</p>
          <p class="subtitle is-5">&#x2022 {{r49}}</p>
          <p class="subtitle is-5">&#x2022 {{r50}}</p>
          <p class="subtitle is-5">&#x2022 {{r51}}</p>
          <p class="subtitle is-5">&#x2022 {{r52}}</p>
          <p class="subtitle is-5">&#x2022 {{r53}}</p>
          <p class="subtitle is-5">&#x2022 {{r54}}</p>
          <p class="subtitle is-5">&#x2022 {{r55}}</p>
          <p class="subtitle is-5">&#x2022 {{r56}}</p>
          <p class="subtitle is-5">&#x2022 {{r57}}</p>
          <p class="subtitle is-5">&#x2022 {{r58}}</p>
          <p class="subtitle is-5">&#x2022 {{r59}}</p>
          <p class="subtitle is-5">&#x2022 {{r60}}</p>
          <p class="subtitle is-5">&#x2022 {{r61}}</p>
          <p class="subtitle is-5">&#x2022 {{r62}}</p>
          <p class="subtitle is-5">&#x2022 {{r63}}</p>
          <p class="subtitle is-5">&#x2022 {{r64}}</p>
          <p class="subtitle is-5">&#x2022 {{r65}}</p>
          <p class="subtitle is-5">&#x2022 {{r66}}</p>
          <p class="subtitle is-5">&#x2022 {{r67}}</p>
          <p class="subtitle is-5">&#x2022 {{r68}}</p>
          <p class="subtitle is-5">&#x2022 {{r69}}</p>
          <p class="subtitle is-5">&#x2022 {{r70}}</p>
          <p class="subtitle is-5">&#x2022 {{r71}}</p>
          <p class="subtitle is-5">&#x2022 {{r72}}</p>
          <p class="subtitle is-5">&#x2022 {{r73}}</p>
          <p class="subtitle is-5">&#x2022 {{r74}}</p>
          <p class="subtitle is-5">&#x2022 {{r75}}</p>
          <p class="subtitle is-5">&#x2022 {{r76}}</p>
          <p class="subtitle is-5">&#x2022 {{r77}}</p>
          <p class="subtitle is-5">&#x2022 {{r78}}</p>
          <p class="subtitle is-5">&#x2022 {{r79}}</p>
          <p class="subtitle is-5">&#x2022 {{r80}}</p>
          <p class="subtitle is-5">&#x2022 {{r81}}</p>
          <p class="subtitle is-5">&#x2022 {{r82}}</p>
          <p class="subtitle is-5">&#x2022 {{r83}}</p>
          <p class="subtitle is-5">&#x2022 {{r84}}</p>
          <p class="subtitle is-5">&#x2022 {{r85}}</p>
          <p class="subtitle is-5">&#x2022 {{r86}}</p>
          <p class="subtitle is-5">&#x2022 {{r87}}</p>
          <p class="subtitle is-5">&#x2022 {{r88}}</p>
          <p class="subtitle is-5">&#x2022 {{r89}}</p>
          <p class="subtitle is-5">&#x2022 {{r90}}</p>
          <p class="subtitle is-5">&#x2022 {{r91}}</p>
          <p class="subtitle is-5">&#x2022 {{r92}}</p>
          <p class="subtitle is-5">&#x2022 {{r93}}</p>
          <p class="subtitle is-5">&#x2022 {{r94}}</p>
          <p class="subtitle is-5">&#x2022 {{r95}}</p>
          <p class="subtitle is-5">&#x2022 {{r96}}</p>
          <p class="subtitle is-5">&#x2022 {{r97}}</p>
          <p class="subtitle is-5">&#x2022 {{r98}}</p>
          <p class="subtitle is-5">&#x2022 {{r99}}</p>
          <p class="subtitle is-5">&#x2022 {{r100}}</p>
        </div>
      </div>
    </div>
  </div>
</section>              
<section class="hero">
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Reco-Chan</strong> by Suraj and Nithesh
          <span class="icon is-small">
            <i class="fa fa-copyright"></i>
          </span>2020</a>
        </p>
        <p>     
          <a class="icon has-text-primary" href="mailto:surajdas.space@gmail.com" target="_blank">
            <i class="fa fa-envelope"></i>
          </a>
        </p>
      </div>
    </div>
  </footer>
</section>
{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}
