{% extends "reco5.html" %}
{% block body %}
<div class="card">
	<img src="{{im5}}" alt="Anime" style="width:15%">
    <div class="container">
        <h4><b>{{r5}}</b></h4>
        <a href="{{l5}}" class="button is-primary is-outlined">
            <span>Watch on gogoanime</span>
        </a>
    </div>
</div>
<div class="card">
	<img src="{{im6}}" alt="Anime" style="width:15%">
    <div class="container">
        <h4><b>{{r6}}</b></h4>
        <a href="{{l6}}" class="button is-primary is-outlined">
            <span>Watch on gogoanime</span>
        </a>
    </div>
</div>
<div class="card">
	<img src="{{im7}}" alt="Anime" style="width:15%">
    <div class="container">
        <h4><b>{{r7}}</b></h4>
        <a href="{{l7}}" class="button is-primary is-outlined">
            <span>Watch on gogoanime</span>
        </a>
    </div>
</div>
<div class="card">
	<img src="{{im8}}" alt="Anime" style="width:15%">
    <div class="container">
        <h4><b>{{r8}}</b></h4>
        <a href="{{l8}}" class="button is-primary is-outlined">
            <span>Watch on gogoanime</span>
        </a>
    </div>
</div>
<div class="card">
	<img src="{{im5}}" alt="Anime" style="width:15%">
    <div class="container">
        <h4><b>{{r5}}</b></h4>
        <a href="{{l5}}" class="button is-primary is-outlined">
            <span>Watch on gogoanime</span>
        </a>
    </div>
</div>
<div class="card">
	<img src="{{im9}}" alt="Anime" style="width:15%">
    <div class="container">
        <h4><b>{{r9}}</b></h4>
        <a href="{{l9}}" class="button is-primary is-outlined">
            <span>Watch on gogoanime</span>
        </a>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}
