{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block body %}
<section class="hero is-white">
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="https://github.com/anfederico/Flaskex/raw/master/media/flaskex-logo.png" alt="Flaskex_logo">
        <h6 href="/" class="subtitle"><strong>Reco-Chan</strong></h6>
      </a>
      <div id="navbar-burger-id" class="navbar-burger burger" data-target="navbar-menu-id">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a href="https://github.com/Akatsuki3/Reco-chan" class="button is-primary is-outlined">
                <span>Github Repositry For this App</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</section>
<section class="hero is-primary is-bold is-medium" id="home">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column is-auto">
          <img src="https://raw.githubusercontent.com/Akatsuki3/Reco-chan/master/media/pygirl.png" width="140">
          <br>
          <p class="title is-2">Omedetou!</p>
          <p class="subtitle is-4"><i>&nbsp;Hey {{user}} here are your recommendations ~</i></p>
          <p class="subtitle is-5">&#x2022 {{r0}}</p>
          <p class="subtitle is-5">&#x2022 {{r1}}</p>
          <p class="subtitle is-5">&#x2022 {{r2}}</p>
          <p class="subtitle is-5">&#x2022 {{r3}}</p>
          <p class="subtitle is-5">&#x2022 {{r4}}</p>
          <p class="subtitle is-5">&#x2022 {{r5}}</p>
          <p class="subtitle is-5">&#x2022 {{r6}}</p>
          <p class="subtitle is-5">&#x2022 {{r7}}</p>
          <p class="subtitle is-5">&#x2022 {{r8}}</p>
          <p class="subtitle is-5">&#x2022 {{r9}}</p>
          <p class="subtitle is-5">&#x2022 {{r10}}</p>
          <p class="subtitle is-5">&#x2022 {{r11}}</p>
          <p class="subtitle is-5">&#x2022 {{r12}}</p>
          <p class="subtitle is-5">&#x2022 {{r13}}</p>
          <p class="subtitle is-5">&#x2022 {{r14}}</p>
          <p class="subtitle is-5">&#x2022 {{r15}}</p>
          <p class="subtitle is-5">&#x2022 {{r16}}</p>
          <p class="subtitle is-5">&#x2022 {{r17}}</p>
          <p class="subtitle is-5">&#x2022 {{r18}}</p>
          <p class="subtitle is-5">&#x2022 {{r19}}</p>
          <p class="subtitle is-5">&#x2022 {{r20}}</p>
          <p class="subtitle is-5">&#x2022 {{r21}}</p>
          <p class="subtitle is-5">&#x2022 {{r22}}</p>
          <p class="subtitle is-5">&#x2022 {{r23}}</p>
          <p class="subtitle is-5">&#x2022 {{r24}}</p>
          <p class="subtitle is-5">&#x2022 {{r25}}</p>
          <p class="subtitle is-5">&#x2022 {{r26}}</p>
          <p class="subtitle is-5">&#x2022 {{r27}}</p>
          <p class="subtitle is-5">&#x2022 {{r28}}</p>
          <p class="subtitle is-5">&#x2022 {{r29}}</p>
          <p class="subtitle is-5">&#x2022 {{r30}}</p>
          <p class="subtitle is-5">&#x2022 {{r31}}</p>
          <p class="subtitle is-5">&#x2022 {{r32}}</p>
          <p class="subtitle is-5">&#x2022 {{r33}}</p>
          <p class="subtitle is-5">&#x2022 {{r34}}</p>
          <p class="subtitle is-5">&#x2022 {{r35}}</p>
          <p class="subtitle is-5">&#x2022 {{r36}}</p>
          <p class="subtitle is-5">&#x2022 {{r37}}</p>
          <p class="subtitle is-5">&#x2022 {{r38}}</p>
          <p class="subtitle is-5">&#x2022 {{r39}}</p>
          <p class="subtitle is-5">&#x2022 {{r40}}</p>
          <p class="subtitle is-5">&#x2022 {{r41}}</p>
          <p class="subtitle is-5">&#x2022 {{r42}}</p>
          <p class="subtitle is-5">&#x2022 {{r43}}</p>
          <p class="subtitle is-5">&#x2022 {{r44}}</p>
          <p class="subtitle is-5">&#x2022 {{r45}}</p>
          <p class="subtitle is-5">&#x2022 {{r46}}</p>
          <p class="subtitle is-5">&#x2022 {{r47}}</p>
          <p class="subtitle is-5">&#x2022 {{r48}}</p>
          <p class="subtitle is-5">&#x2022 {{r49}}</p>
          <p class="subtitle is-5">&#x2022 {{r50}}</p>
          <p class="subtitle is-5">&#x2022 {{r51}}</p>
          <p class="subtitle is-5">&#x2022 {{r52}}</p>
          <p class="subtitle is-5">&#x2022 {{r53}}</p>
          <p class="subtitle is-5">&#x2022 {{r54}}</p>
          <p class="subtitle is-5">&#x2022 {{r55}}</p>
          <p class="subtitle is-5">&#x2022 {{r56}}</p>
          <p class="subtitle is-5">&#x2022 {{r57}}</p>
          <p class="subtitle is-5">&#x2022 {{r58}}</p>
          <p class="subtitle is-5">&#x2022 {{r59}}</p>
          <p class="subtitle is-5">&#x2022 {{r60}}</p>
          <p class="subtitle is-5">&#x2022 {{r61}}</p>
          <p class="subtitle is-5">&#x2022 {{r62}}</p>
          <p class="subtitle is-5">&#x2022 {{r63}}</p>
          <p class="subtitle is-5">&#x2022 {{r64}}</p>
          <p class="subtitle is-5">&#x2022 {{r65}}</p>
          <p class="subtitle is-5">&#x2022 {{r66}}</p>
          <p class="subtitle is-5">&#x2022 {{r67}}</p>
          <p class="subtitle is-5">&#x2022 {{r68}}</p>
          <p class="subtitle is-5">&#x2022 {{r69}}</p>
          <p class="subtitle is-5">&#x2022 {{r70}}</p>
          <p class="subtitle is-5">&#x2022 {{r71}}</p>
          <p class="subtitle is-5">&#x2022 {{r72}}</p>
          <p class="subtitle is-5">&#x2022 {{r73}}</p>
          <p class="subtitle is-5">&#x2022 {{r74}}</p>
          <p class="subtitle is-5">&#x2022 {{r75}}</p>
          <p class="subtitle is-5">&#x2022 {{r76}}</p>
          <p class="subtitle is-5">&#x2022 {{r77}}</p>
          <p class="subtitle is-5">&#x2022 {{r78}}</p>
          <p class="subtitle is-5">&#x2022 {{r79}}</p>
          <p class="subtitle is-5">&#x2022 {{r80}}</p>
          <p class="subtitle is-5">&#x2022 {{r81}}</p>
          <p class="subtitle is-5">&#x2022 {{r82}}</p>
          <p class="subtitle is-5">&#x2022 {{r83}}</p>
          <p class="subtitle is-5">&#x2022 {{r84}}</p>
          <p class="subtitle is-5">&#x2022 {{r85}}</p>
          <p class="subtitle is-5">&#x2022 {{r86}}</p>
          <p class="subtitle is-5">&#x2022 {{r87}}</p>
          <p class="subtitle is-5">&#x2022 {{r88}}</p>
          <p class="subtitle is-5">&#x2022 {{r89}}</p>
          <p class="subtitle is-5">&#x2022 {{r90}}</p>
          <p class="subtitle is-5">&#x2022 {{r91}}</p>
          <p class="subtitle is-5">&#x2022 {{r92}}</p>
          <p class="subtitle is-5">&#x2022 {{r93}}</p>
          <p class="subtitle is-5">&#x2022 {{r94}}</p>
          <p class="subtitle is-5">&#x2022 {{r95}}</p>
          <p class="subtitle is-5">&#x2022 {{r96}}</p>
          <p class="subtitle is-5">&#x2022 {{r97}}</p>
          <p class="subtitle is-5">&#x2022 {{r98}}</p>
          <p class="subtitle is-5">&#x2022 {{r99}}</p>
          <p class="subtitle is-5">&#x2022 {{r100}}</p>
          <p class="subtitle is-5">&#x2022 {{r101}}</p>
          <p class="subtitle is-5">&#x2022 {{r102}}</p>
          <p class="subtitle is-5">&#x2022 {{r103}}</p>
          <p class="subtitle is-5">&#x2022 {{r104}}</p>
          <p class="subtitle is-5">&#x2022 {{r105}}</p>
          <p class="subtitle is-5">&#x2022 {{r106}}</p>
          <p class="subtitle is-5">&#x2022 {{r107}}</p>
          <p class="subtitle is-5">&#x2022 {{r108}}</p>
          <p class="subtitle is-5">&#x2022 {{r109}}</p>
          <p class="subtitle is-5">&#x2022 {{r110}}</p>
          <p class="subtitle is-5">&#x2022 {{r111}}</p>
          <p class="subtitle is-5">&#x2022 {{r112}}</p>
          <p class="subtitle is-5">&#x2022 {{r113}}</p>
          <p class="subtitle is-5">&#x2022 {{r114}}</p>
          <p class="subtitle is-5">&#x2022 {{r115}}</p>
          <p class="subtitle is-5">&#x2022 {{r116}}</p>
          <p class="subtitle is-5">&#x2022 {{r117}}</p>
          <p class="subtitle is-5">&#x2022 {{r118}}</p>
          <p class="subtitle is-5">&#x2022 {{r119}}</p>
          <p class="subtitle is-5">&#x2022 {{r120}}</p>
          <p class="subtitle is-5">&#x2022 {{r121}}</p>
          <p class="subtitle is-5">&#x2022 {{r122}}</p>
          <p class="subtitle is-5">&#x2022 {{r123}}</p>
          <p class="subtitle is-5">&#x2022 {{r124}}</p>
          <p class="subtitle is-5">&#x2022 {{r125}}</p>
          <p class="subtitle is-5">&#x2022 {{r126}}</p>
          <p class="subtitle is-5">&#x2022 {{r127}}</p>
          <p class="subtitle is-5">&#x2022 {{r128}}</p>
          <p class="subtitle is-5">&#x2022 {{r129}}</p>
          <p class="subtitle is-5">&#x2022 {{r130}}</p>
          <p class="subtitle is-5">&#x2022 {{r131}}</p>
          <p class="subtitle is-5">&#x2022 {{r132}}</p>
          <p class="subtitle is-5">&#x2022 {{r133}}</p>
          <p class="subtitle is-5">&#x2022 {{r134}}</p>
          <p class="subtitle is-5">&#x2022 {{r135}}</p>
          <p class="subtitle is-5">&#x2022 {{r136}}</p>
          <p class="subtitle is-5">&#x2022 {{r137}}</p>
          <p class="subtitle is-5">&#x2022 {{r138}}</p>
          <p class="subtitle is-5">&#x2022 {{r139}}</p>
          <p class="subtitle is-5">&#x2022 {{r140}}</p>
          <p class="subtitle is-5">&#x2022 {{r141}}</p>
          <p class="subtitle is-5">&#x2022 {{r142}}</p>
          <p class="subtitle is-5">&#x2022 {{r143}}</p>
          <p class="subtitle is-5">&#x2022 {{r144}}</p>
          <p class="subtitle is-5">&#x2022 {{r145}}</p>
          <p class="subtitle is-5">&#x2022 {{r146}}</p>
          <p class="subtitle is-5">&#x2022 {{r147}}</p>
          <p class="subtitle is-5">&#x2022 {{r148}}</p>
          <p class="subtitle is-5">&#x2022 {{r149}}</p>
          <p class="subtitle is-5">&#x2022 {{r150}}</p>
          <p class="subtitle is-5">&#x2022 {{r151}}</p>
          <p class="subtitle is-5">&#x2022 {{r152}}</p>
          <p class="subtitle is-5">&#x2022 {{r153}}</p>
          <p class="subtitle is-5">&#x2022 {{r154}}</p>
          <p class="subtitle is-5">&#x2022 {{r155}}</p>
          <p class="subtitle is-5">&#x2022 {{r156}}</p>
          <p class="subtitle is-5">&#x2022 {{r157}}</p>
          <p class="subtitle is-5">&#x2022 {{r158}}</p>
          <p class="subtitle is-5">&#x2022 {{r159}}</p>
          <p class="subtitle is-5">&#x2022 {{r160}}</p>
          <p class="subtitle is-5">&#x2022 {{r161}}</p>
          <p class="subtitle is-5">&#x2022 {{r162}}</p>
          <p class="subtitle is-5">&#x2022 {{r163}}</p>
          <p class="subtitle is-5">&#x2022 {{r164}}</p>
          <p class="subtitle is-5">&#x2022 {{r165}}</p>
          <p class="subtitle is-5">&#x2022 {{r166}}</p>
          <p class="subtitle is-5">&#x2022 {{r167}}</p>
          <p class="subtitle is-5">&#x2022 {{r168}}</p>
          <p class="subtitle is-5">&#x2022 {{r169}}</p>
          <p class="subtitle is-5">&#x2022 {{r170}}</p>
          <p class="subtitle is-5">&#x2022 {{r171}}</p>
          <p class="subtitle is-5">&#x2022 {{r172}}</p>
          <p class="subtitle is-5">&#x2022 {{r173}}</p>
          <p class="subtitle is-5">&#x2022 {{r174}}</p>
          <p class="subtitle is-5">&#x2022 {{r175}}</p>
          <p class="subtitle is-5">&#x2022 {{r176}}</p>
          <p class="subtitle is-5">&#x2022 {{r177}}</p>
          <p class="subtitle is-5">&#x2022 {{r178}}</p>
          <p class="subtitle is-5">&#x2022 {{r179}}</p>
          <p class="subtitle is-5">&#x2022 {{r180}}</p>
          <p class="subtitle is-5">&#x2022 {{r181}}</p>
          <p class="subtitle is-5">&#x2022 {{r182}}</p>
          <p class="subtitle is-5">&#x2022 {{r183}}</p>
          <p class="subtitle is-5">&#x2022 {{r184}}</p>
          <p class="subtitle is-5">&#x2022 {{r185}}</p>
          <p class="subtitle is-5">&#x2022 {{r186}}</p>
          <p class="subtitle is-5">&#x2022 {{r187}}</p>
          <p class="subtitle is-5">&#x2022 {{r188}}</p>
          <p class="subtitle is-5">&#x2022 {{r189}}</p>
          <p class="subtitle is-5">&#x2022 {{r190}}</p>
          <p class="subtitle is-5">&#x2022 {{r191}}</p>
          <p class="subtitle is-5">&#x2022 {{r192}}</p>
          <p class="subtitle is-5">&#x2022 {{r193}}</p>
          <p class="subtitle is-5">&#x2022 {{r194}}</p>
          <p class="subtitle is-5">&#x2022 {{r195}}</p>
          <p class="subtitle is-5">&#x2022 {{r196}}</p>
          <p class="subtitle is-5">&#x2022 {{r197}}</p>
          <p class="subtitle is-5">&#x2022 {{r198}}</p>
          <p class="subtitle is-5">&#x2022 {{r199}}</p>
          <p class="subtitle is-5">&#x2022 {{r200}}</p>
        </div>
      </div>
    </div>
  </div>
</section>              
<section class="hero">
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Reco-Chan</strong> by Suraj and Nithesh
          <span class="icon is-small">
            <i class="fa fa-copyright"></i>
          </span>2020</a>
        </p>
        <p>     
          <a class="icon has-text-primary" href="mailto:surajdas.space@gmail.com" target="_blank">
            <i class="fa fa-envelope"></i>
          </a>
        </p>
      </div>
    </div>
  </footer>
</section>
{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}
